body {
  margin: 0;
}
#bg-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.details {
  border-bottom: 2px solid rgb(145, 127, 127);
  display: flex;
  display: flex;
  justify-content: end;
}
#details-link {
  padding-top: 10px;
}
.details a {
  text-decoration: none;
  color: rgb(71, 5, 5);
  padding-right: 20px;
}
#search-bar {
  border: none;
  background-color: rgb(71, 5, 5);
  padding: 7px;
}
#nav-bar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
#nav-bar a {
  color: black;
}
#logo img {
  width: 80px;
  height: auto;
  margin-left: 50px;
}
.navbar {
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#center-body {
  padding: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#center-text {
  color: white;
  font-size: 45px;
  text-align: center;
}
#center-text span {
  color: rgb(214, 18, 18);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
}
#suggestion-box {
  display: flex;
  align-items: center;
  width: 700px;
  margin-top: 100px;
  justify-content: space-between;
}
#first-box,
#second-box {
  margin: 5px 30px;
  padding: 15px 0 10px 20px;
  text-align: center;
  color: black;
  background-color: white;
}

#first-box span,
#second-box span {
  height: auto;
  padding: 5px 30px;
  margin-left: 5px;
  width: 10px;
  padding: 15px 30px 13px 30px;
  background-color: black;
}
#first-box span a,
#second-box a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 750px) {
}
